<!DOCTYPE html>
<html>
  <head>
    <script src="jquery-3.3.1.min.js"></script>
    <style>
         .wrapper {
             height: 100%;
             margin: 0 -10px;
             display: flex;  
             flex-flow: row wrap;
             font-weight: bold;
             text-align: center;
         }
           
         .wrapper > * {
             padding: 10px;
             flex: 1 100%;
         }
           
         .main {
             text-align: left;
             background: deepskyblue;
         }
           
         .aside-1 {
             margin: 0 10px;
             box-shadow:5px 1px 6px #4E565E;
             background: gold;
         }
           
         .aside-2 {
             margin: 0 10px;
             width: 100px;
             box-shadow:-5px 1px 6px #4E565E;
             background: hotpink;
         }
           
         @media all and (min-width: 600px) {
             .aside { flex: 1 auto; }
         }
           
         @media all and (min-width: 800px) {
             .main    { flex: 3 0px; }
             .aside-1 { order: 1; } 
             .main    { order: 2; }
             .aside-2 { order: 3; }
         }
         .collapsibleLogicInfo {
             background-color: #777;
             color: white;
             cursor: pointer;
             padding: 18px;
             width: 100%;
             border: none;
             text-align: left;
             outline: none;
             font-size: 15px;
         } 
         .collapsibleLogicKeywords {
             background-color: #777;
             color: white;
             cursor: pointer;
             padding: 18px;
             width: 100%;
             border: none;
             text-align: left;
             outline: none;
             font-size: 15px;
         } 
         .active, .collapsibleLogicKeywords:hover {
             background-color: #555;
         }

         .active, .collapsibleLogicInfo:hover {
             background-color: #555;
         }
         .collapsibleContent {
             padding: 0 18px;
             text-align: left;
             overflow: hidden;
             background-color: #f1f1f1;
             max-height: 0;
             transition: max-height 0.2s ease-out;
         }
         body,html {
             background: deepskyblue;
             max-width: 100%;
             overflow-x: hidden;
             overflow-y: hidden;
             height:100%;
             margin: 0;
         }
         .logicsContainer {
             padding: 0;
             margin: 0;
             list-style: none;
             
             display: -webkit-box;
             display: -moz-box;
             display: -ms-flexbox;
             display: -webkit-flex;
             display: flex;
             
             -webkit-flex-flow: row wrap;
             justify-content: space-around;
         }
         .selectLogic {
             background: tomato;
             padding: 5px;
             width: 200px;
             height: 150px;
             margin-top: 10px;
             
             color: white;
             font-weight: bold;
             text-align: center;
         }
         .logicInfoButton {
             background-color: #B15DFF;
             border: none;
             color: white;
             padding: 16px 32px;
             text-align: center;
             font-size: 16px;
             margin: 4px 2px;
             opacity: 0.9;
             transition: 0.3s;
             display: inline-block;
             text-decoration: none;
             cursor: pointer;
        }
        .logicInfoButton:hover {opacity: 1}
        
        .logicInfoDiv {
            height: 85%;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        ::-webkit-scrollbar {
            width: 7px;
        }       
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            -webkit-border-radius: 10px;
             border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #1EB980;
        }

    </style>
    <script type="text/javascript">
        logicsToHide = [
            <%logics.forEach(function(logic){%>
                    "<%=logic.logicsName%>",
            <%});%>
        ];
        function showDetails(id) {
       	    var e = document.getElementById(id);
       	    e.style.display = (e.style.display == 'block') ? 'none' : 'block';
            for(toHide of logicsToHide){
                if(toHide == id){
                   continue; 
                }
                document.getElementById(toHide).style.display='none';
            }
        }
    </script>
    <script>
        function getKeywords(id){
            $(document).ready(function(){
                $.post("getkeywords",
                    {
                       id : id 
                    },
                    function(data,status){
                        console.log(id);
                        var keywordsString = "";
                        for(keyword of data){
                            keywordsString += keyword.keyword + "\n";
                        }
                        $("#logic"+id).text(keywordsString);
                        var content = document.getElementById("logic"+id).parentElement;
                        console.log(content.nodeName);
                        if (content.style.maxHeight){
                            content.style.maxHeight = null;
                        } else {
                            content.style.maxHeight = content.scrollHeight + "px";
                        } 
                });
            });
        }
    </script>
  </head>
  <body>
      <div class="wrapper">
           <article class="main">
               Logics
               <form method="POST" action="">
                    <div>
                        <div class="logicsContainer">
                        <%logics.forEach(function(logic){%>     
                             <div class="selectLogic">
                                 <input type="checkbox" name="logic" value="<%=logic.logicsName%>"><%=logic.logicsName%><br>
                                 <button type="button" class="logicInfoButton" onclick="showDetails('<%=logic.logicsName%>')">Details</button>
                             </div>
                        <%});%>
                        </div>
                        <div style="display: flex; justify-content: center">
                            <button type="submit" class="logicInfoButton">Show map</button>
                        </div>
                    </div>
               </form>
           </article>
           <aside class="aside aside-1">
               Aside 1
           </aside>
           <aside class="aside aside-2">
               Logic Info
               <%logics.forEach(function(logic){%>
               <div id="<%=logic.logicsName%>" style="display:none;height:100%;">
                   <h2><%=logic.logicsName%></h2> 
                   <div class="logicInfoDiv">
                        <button class="collapsibleLogicInfo">Summary</button>
                        <div class="collapsibleContent">
                            <p><%=logic.logicsSummary%></p>
                        </div>
                        <button class="collapsibleLogicInfo">Commentary</button>
                        <div class="collapsibleContent">
                            <p><%=logic.logicsCommentary%></p>
                        </div>
                        <button class="collapsibleLogicInfo">Objects</button>
                        <div class="collapsibleContent">
                            <p><%=logic.logicsObjects%></p>
                        </div>
                        <button class="collapsibleLogicInfo">Politics</button>
                        <div class="collapsibleContent">
                            <p><%=logic.logicsPolitics%></p>
                        </div>
                        <button class="collapsibleLogicInfo">Technology</button>
                        <div class="collapsibleContent">
                            <p><%=logic.logicsTechnology%></p>
                        </div>
                        <button class="collapsibleLogicInfo">Exemplars</button>
                        <div class="collapsibleContent">
                            <p><%=logic.logicsExemplars%></p>
                        </div>
                        <button class="collapsibleLogicInfo">References</button>
                        <div class="collapsibleContent">
                            <p><%=logic.logicsReferences%></p>
                        </div>
                        <button class="collapsibleLogicKeywords" onclick="getKeywords('<%=logic.id%>')">Keywords</button>
                        <div class="collapsibleContent">
                            <p id="logic<%=logic.id%>">

                            </p>
                        </div>
                   </div>
               </div>   
               <%});%>
           </aside>
      </div>
      <script>
          var coll = document.getElementsByClassName("collapsibleLogicInfo");
          var i;
          for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                  this.classList.toggle("active");
                  var content = this.nextElementSibling;
                  if (content.style.maxHeight){
                      content.style.maxHeight = null;
                  } else {
                      content.style.maxHeight = content.scrollHeight + "px";
                  } 
              });
          }
      </script>
  </body>
</html>
